.container-comment {
  border-bottom: 1px solid grey;
}

.email-comment {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30em;
}

.elements-comment {
  margin: 1em;
}
