.backPageImage {
  width: 5vh;
}
.cartImage {
  width: 4vh;
  height: 4vh;
}

.cartProductsHeader {
  font-size: 2.5vh;
  display: flex;
  flex-direction: row;
  text-decoration: solid;
  align-items: center;
  justify-content: space-between;
  width: 30vh;
}

.emptyBoxContainer {
    margin-top: 5vh;
    text-align: center;
}
.emptyBoxImage {
    width: 40vh;
}

.space {
  margin-left: 3vh;
  margin-top: 1.5vh;
}
