.button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.cartImage {
  height: 4vh;
  width: 4vh;
}

.number-of-products {
  background: #fff159;
  border: grey solid 1px;
  border-radius: 15px;
  color: black;
  height: 1.4em;
  font-size: 1em;
  margin-top: 0.2em;
  text-align: center;
  width: 1.4em;
}
