.cartButton-Box {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 15%;
}

.cartButton-Link {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.cartImage {
  display: block;
  height: 100px;
  width: 100px;
}

.cartButton-Link>p {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 20%; 
  height: 100%;
}

.cartButton-Link>p>span {
  background-color: #fff159;
  font-family: 'Kreon', serif;
  border-radius: 10px;
  font-size: 50px;
  font-weight: 700;
  padding: 3%;
}

/* .number-of-products {
  background: ;
  border: grey solid 1px;
  border-radius: 15px;
  color: black;
  font-size: 1em;
  height: 100px;
  text-align: center;
  width: 20%;
} */

@media screen and (max-width: 1200px) {
  .cartImage {
    display: block;
    height: 80px;
    width: 80px;
  }
  .cartButton-Link>p>span {
    font-size: 40px;
  }
}

@media screen and (max-width: 800px) {
  .cartImage {
    display: block;
    height: 60px;
    width: 60px;
  }
  .cartButton-Link>p>span {
    font-size: 35px;
  }
}

@media screen and (max-width: 450px) {
  .cartImage {
    display: none;
  }
  .cartButton-Link>p {
    width: 100%; 
  }
}

/* .button-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.cartImage {
  height: 4vh;
  width: 4vh;
}

 */
