.category-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.category-options-box {
  align-items: flex-start;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

@media screen and ( max-width : 800px ) {

  .category-box {
    width: 100%;
  }

  .category-options-box {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

}
