.billet {
  width: 6em;
}

.billet-pay-method {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.btn {
  border: 2px solid grey;
  height: 4em;
  margin-bottom: 2em;
  margin-left: 2em;
  text-align: center;
  width: 10em;
}

.credit-pay-method , .pay-method {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.creditCard {
  width: 6em;
}

.invalid {
  color: red;
  height: 3em;
  width: 33%;
}

.pay-method-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0.5em;
}

.product-item {
  height: 6em;
}

.thumbnail {
  height: 6em;
  width: 2em;
}

.valid {
  color: black;
  height: 3em;
  width: 33%;
}

@media screen and ( max-width : 800px ) {

  .form-purchase {
    display: flex;
    flex-direction: column;
  }

  .invalid {
    color: red;
    height: 3em;
    width: 80%;
  }

  .pay-method {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    
  }

  .pay-method-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
  }

  .price-total {
    margin-top: 50px;
  }

  .product-item {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  .valid {
    color: black;
    height: 3em;
    width: 80%;
  }

  .thumbnail {
    height: 50px;
    width: 50px;
  }
}
