.cart-and-input {
  display: flex;
  width: 100%;
  position: fixed;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  outline: 1px solid red;
}

.category {
  float: left;
  position: fixed;
}

input[type=text] {
  width: 1000px;
}

.products-list {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

