.cart-and-input {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1%;
  position: fixed;
  width: 100%;
}

.category {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
}


.products-list {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.search-box input {
  width: 1000px;
}
