.online-store-page {
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.online-store-header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 80%;
}

.online-store-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-box  {
  height: 20%;
  margin: 1% 3%;
  padding: 0;
  text-align: center;
  width: 80%;
}

.input-style {
  background-color: #EFFAB4;
  border-radius:10px;
  box-shadow: 1px 1px 2px;
  font-family: 'Kreon', serif;
  font-size: 100%;
  font-weight: 600;
  height: 30px;
  letter-spacing: 2px;
  margin: 2%;
  padding: 0.5%;
  width: 100%;  
}

/* .cart-and-input {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1%;
  position: fixed;
  width: 100%;
}

.category {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
}


.products-list {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.search-box input {
  width: 1000px;
} */
