.online-store-page {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.online-store-header {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: space-around;
  width: 80%;
}

.search-box  {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: center;
  width: 80%;
}

.online-store-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-style {
  background-color: #EFFAB4;
  border-radius:10px;
  box-shadow: 1px 1px 2px;
  font-family: 'Kreon', serif;
  font-size: 40px;
  font-weight: 600;
  height: 40%;
  letter-spacing: 2px;
  padding: 0.5%;
  width: 100%;  
}

@media screen and (max-width: 1200px) {
  .online-store-header {
    height: 150px;
  }
  .input-style {
    font-size: 35px;
  }
}

@media screen and (max-width: 800px) {
  .online-store-header {
    height: 100px;
  }
  .input-style {
    font-size: 30px;
  }
}

@media screen and (max-width: 450px) {
  .online-store-header {
    height: 80px;
  }
  .search-box { 
    width: 95%;
  }
  .input-style {
    font-size: 26px;
  }
}

/* .cart-and-input {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1%;
  position: fixed;
  width: 100%;
}

.category {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
}


.products-list {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.search-box input {
  width: 1000px;
} */
