.cart-and-input {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1%;
  position: fixed;
  width: 100%;
}

.category {
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

input[type=text] {
  width: 1000px;
}

.products-list {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

