.buttons-add-product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25em;
  margin: 0 auto;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.product-name-price {
  text-align: center;
  width: 40%;
}

.product-image {
  height: 13em;
  width: 13em;
}

.specifications {
  width: 40%;
}
