.button-add {
  border: 1px solid grey;
  font-size: 15px;
  text-align: center;
  width: 13em;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 22em;
}
