.msg {
  display: flex;
  font-size: 40px;
  justify-content: center;
  width: 60%;
}

.show-all-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
  height: 75vh;
  width: 80%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.card {
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  margin: 10px;
  width: 260px;
}

.card-title {
  background: rgba(224, 224, 224, 0.781);
  border-radius: 15px 15px 0 0;
  font-size: 12px;
  max-width: 240px;
  min-height: 10px;
  padding: 10px;
  width: 100%;
}

.card-thumbnail {
  max-height: 150px;
}

@media screen and ( max-width : 800px ) {

  .message {
    font-size: 30px;
    width: 100%;
  }

  .show-all-info {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

}
