.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0;
}

.quantity-value {
  text-align: center;
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  margin: 0 5px 0 15px;
  padding: 3px;
}

.plus-button {
  max-height: 50px;
}

.minus-button {
  max-height: 20px;
}
