.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.quantity-value {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 5px;
  margin-left: 15px;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px 3px;
  align-items: center;
}

.plus-button {
  max-height: 50px;
}

.minus-button {
  max-height: 20px;
}
