.search-box {
  border: solid 1px gray;
  border-radius: 10px;
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: center;
  height: 20px;
  width: 50%;
}
p {
  display: flex;
  justify-content: center;
}
input {
  outline: none;
  border: none; 
  width: 85%;
}
