.online-store-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.online-store-header {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-store-header-img {
  width: 10%;
  height: 100%;
}

.search-box  {
  height: 20%;
  width: 80%;
  text-align: center;
  margin: 1% 3%;
  padding: 0;
}

.input-style {
  background-color: #EFFAB4;
  height: 30px;
  width: 100%;
  border-radius:10px;
  font-size: 100%;
  box-shadow: 1px 1px 2px;
  font-family: 'Kreon', serif;
  margin: 2%;
  padding: 0.5%;
  letter-spacing: 2px;
  font-weight: 600;
}

.shopping-car-img {
  height: 100%;
  width: 50%;
  margin: 10%;
}

.empty-message {
  height: 40%;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-family: 'Kreon', serif;
}

.empty-message>p>span {
  background-color: #FFC48C;
  padding: 0.5%;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 700;
}

.cart-shopping-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.cart-shopping-header {
  height: 10%;
  width: 100%;
}

.cart-shopping-backimg {
  width: 4%;
  margin: 2%;
}

.cart-shopping-box-1 {
  width: 100%;
  margin: 2%;
  display: flex;
  align-items: center;
}

.cart-shopping-img {
  width: 5%;
  height: 100%;
  margin: 2%;
}

.cart-shopping-box-1>p {
  width: 20%;
}

.cart-shopping-box-1>p>span {
  background-color: #FFC48C;
  padding: 1%;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 700;
}

.cart-shopping-products {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.cart-shopping-emptyimg {
  width: 25%;
}

.cart-shopping-products>p {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-shopping-products>p>span {
  background-color: #FFC48C;
  padding: 1%;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 700;
}

.online-store-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.category-box {
  width: 40%;
  margin: 1%
}

.category-options-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*
.App-logo {
  height: 40vmin;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #09d3ac;
}

.invalid {
  color: red;
}

.valid {
  color: blue;
}
 */
