.cart-shopping-backimg {
  margin: 2%;
  width: 4%;
}

.cart-shopping-box-1 {
  align-items: center;
  display: flex;
  margin: 2%;
  width: 100%;
}

.cart-shopping-box-1>p {
  width: 20%;
}

.cart-shopping-box-1>p>span {
  background-color: #FFC48C;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 700;
  padding: 1%;
}

.cart-shopping-emptyimg {
  width: 25%;
}

.cart-shopping-header {
  height: 10%;
  width: 100%;
}

.cart-shopping-img {
  height: 100%;
  margin: 2%;
  width: 5%;
}

.cart-shopping-page {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.cart-shopping-products {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.cart-shopping-products>p {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 30%; 
}

.cart-shopping-products>p>span {
  background-color: #FFC48C;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 700;
  padding: 1%;
}

.category-box {
  margin: 1%;
  width: 40%;
}

.category-options-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.empty-message {
  box-sizing: border-box;
  font-family: 'Kreon', serif;
  height: 40%;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 50%;
}

.empty-message>p>span {
  background-color: #FFC48C;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 700;
  padding: 0.5%;
}

.input-style {
  background-color: #EFFAB4;
  border-radius:10px;
  box-shadow: 1px 1px 2px;
  font-family: 'Kreon', serif;
  font-size: 100%;
  font-weight: 600;
  height: 30px;
  letter-spacing: 2px;
  margin: 2%;
  padding: 0.5%;
  width: 100%;  
}

.online-store-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.online-store-header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 80%;
}

.online-store-header-img {
  height: 100%;
  width: 10%;
}

.online-store-page {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.search-box  {
  height: 20%;
  margin: 1% 3%;
  padding: 0;
  text-align: center;
  width: 80%;
}

.shopping-car-img {
  height: 100%;
  margin: 10%;
  width: 50%;
}


/*
.App-logo {
  height: 40vmin;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #09d3ac;
}

.invalid {
  color: red;
}

.valid {
  color: blue;
}
 */
