.empty-message {
  height: 30%;
  width: 65%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-family: 'Kreon', serif;
}
.empty-message>p>span {
  background-color: #FFC48C;
  padding: 0.5%;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 700;
}




/*
.App-logo {
  height: 40vmin;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #09d3ac;
}

.invalid {
  color: red;
}

.valid {
  color: blue;
}
 */
