.online-store-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-box  {
  height: 20%;
  width: 80%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.input-style {
  background-color: #EFFAB4;
  height: 30px;
  width: 100%;
  border-radius:10px;
  font-size: 100%;
  box-shadow: 1px 1px 2px;
  font-family: 'Kreon', serif;
  margin: 2%;
  padding: 0.5%;
  letter-spacing: 2px;
  font-weight: 600;
}

.empty-message {
  height: 40%;
  width: 65%;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-family: 'Kreon', serif;
}

.empty-message>p>span {
  background-color: #FFC48C;
  padding: 0.5%;
  border-radius: 10px;
  font-size: 100%;
  font-weight: 700;
}




/*
.App-logo {
  height: 40vmin;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #09d3ac;
}

.invalid {
  color: red;
}

.valid {
  color: blue;
}
 */
